@page "/"
@using Contracts
@using ControlCenter.Hubs
@using Microsoft.AspNetCore.SignalR

@inject AgentManager Manager
@inject IHubContext<AgentHub> HubContext

<PageTitle>Agents</PageTitle>

<h1>Agent Dashboard</h1>

<table class="table">
    <thead>
        <tr>
            <th>Agent</th>
            <th>Temp. (F)</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var id in agents)
        {
            var agent = AgentProxy.Create(HubContext.Clients.Single(id));
            <tr>
                <td>@id</td>
                <td>
                    @if (_lastTemperature.TryGetValue(id, out var result))
                    {
                        if (result == double.MinValue)
                        {
                            <img src="images/loading_spinner.gif" width="32" height="30" alt="loading" />
                        }
                        else
                        {
                            @result
                        }
                    }
                </td>
                <td>
                    <button onclick="@(()=> CheckTemperature(id, agent))">Check temperature</button>
                    <button onclick="@(()=> Shutdown(agent))">Shutdown</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    Dictionary<string, double> _lastTemperature = new();
    string[] agents = Array.Empty<string>();

    protected override async Task OnInitializedAsync()
    {
        _ = await Manager.SubscribeAsync(async () =>
        {
            agents = await Manager.GetAgents();

            await InvokeAsync(() => StateHasChanged());
        });

        agents = await Manager.GetAgents();

        await base.OnInitializedAsync();
    }

    async Task CheckTemperature(string id, IAgent agent)
    {
        _lastTemperature[id] = double.MinValue;

        StateHasChanged();

        var temperature = await agent.GetTemperature();
        _lastTemperature[id] = temperature;

        StateHasChanged();
    }

    Task Shutdown(IAgent agent)
    {
        return agent.Shutdown();
    }
}
